.primart-row {
    justify-content: space-between;
    background: crimson;
    color: white;

    .toolbar-side-menu {
        display: flex;
        align-items: center;
    }
}

.secondary-row {
    justify-content: center;
    
    .menu-row {
        display: flex;
        gap: 3rem;
    }
}
