.sales-container {
    width: inherit;
    display: flex;

    .left-side,
    .right-side {
        flex: 1;
        padding: 20px;
    }

    .panel-filter {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0 10px;
        margin: 10px 0;

        .refresh-button {
            min-height: 5rem;
            padding: 0;
            margin: 0;
            width: inherit;

            mat-icon {
                padding: 0;
                margin: 0;
                font-size: 1.8rem;
                width: 100%;
                height: 40%;
            }
        }
    }
}


table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}