<h1 mat-dialog-title>Detial Inventory Item</h1>
<div mat-dialog-content>
    <mat-card class="detail-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{inventory.name}}</mat-card-title>
            <mat-card-subtitle class="price">{{inventory.price |currency:'USD': '$'}}</mat-card-subtitle>
            <mat-card-subtitle [class.low-stock]="inventory.lowStock" class="quantity">Quantity {{inventory.quantity}}</mat-card-subtitle>
            <img mat-card-sm-image [src]="inventory.image" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>{{inventory.description}}</p>
          <p *ngIf="inventory.supplierId" class="supplier">Supplier <span class="supplier-name">{{ getSupplier(inventory.supplierId)?.name }}</span></p>
        </mat-card-content>
      </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>