.inventory-container {
  mat-error {
    font-size: 0.7rem;
  }
}

.form-inventory {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  form {
    display: grid;

    .button-submit {
      display: flex;
      width: 100%;

      .submit {
        margin: auto;
        width: inherit;
        margin-right: 10px;
      }
    }
  }
}

.filter-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .button-create {
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 200px;
  }

  .field-search {
    width: 100%;
  }
}
